.pie_pagina{
    background-color: #282829;
    color: #b1b4dd;
    text-align: center;
    padding: 12px ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.sp-bt{
    padding: 0px 10px 0px 10px;
}
.fs{
    font-size: 32px;
}
