.Navegador-Desplegable{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.Navegador-desplegable-item{
    list-style: none;
    margin: auto;
    padding-bottom: 10px;
}
@media screen and (min-width: 708px) {
    .Navegador-Desplegable{
        display:none;
    }
}

