/* cabecera */
.cabecera{
    display: flex;
    align-items: center;
}

/* navegador */
.navegador{
    background-color: #3e3e40;
    position: relative;
}

/* logo */
.logo{
    padding: 3px 15px 0px 5px;
}

/* toggle desplegable */
.toggle{
    display: none;
    padding: 2px 0px 0px 5px;
}
.toggle-button{
    color: #8389d7;
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 32px;
    padding-top: 0px;
}
.toggle-button:hover{mix-blend-mode: hard-light;}
/* perfil */

/* perfil y logo */
.image-nav{
    color: #8389d7;
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 42px;
    padding: 5px 0px 0px 0px;
}
.image-nav:hover{mix-blend-mode: hard-light;}


@media screen and (max-width: 748px) {
    .profile-div{
        margin-left: auto;
    }
    .routes{
        display: none;
    }
    .toggle{
        display: block;
    }
}
.profile-button{
    height: auto;
    width: auto;
    background: none;
    border: none;
}
.profile-button-image{
    height: 36px;
    width: 36px;
    border-radius: 30px;
    border-color: #8389d7;
    border-style: solid;
}
.profile-button-image:hover{opacity: 0.85;}