/* formulario de busqueda */
.formulario-busqueda{
    position: relative;
    margin-left:auto;
    padding-right: 10px;
}
.formulario-busqueda-ds-true{
    position: relative;
    margin-left:auto;
    height: -webkit-fill-available;
    
}
.Buscador{
    height: 25px;
    width: 260px;
    border-radius: 17px;
    padding-left: 10px;
}
.search-button{
    position: absolute;
    right: 18px;
    color: #1b27c9bd;
    background: none;
    top: 8px;
    border: none;
}

@media screen and (max-width: 748px) {
    .formulario-busqueda{
        display: none;
    }
    .search-button{
        right: 8px;
    }
}