.contenido{
    background-color: #a58a8a;
    padding: 5px 0px 5px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.pie_pagina{
    background-color: #3e3e40;;
    color: #C2C7CB;
    text-align: center;
    padding: 5px 0px 5px 0px;
}