.Home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #595073;
}


/* INTRODUCCION */
.Introduction-self-container{
    display: flex;
    flex-direction: row-reverse;
    width: -webkit-fill-available;
    background-color: rgb(0 0 0 / 40%);
    margin-inline: 4%;
    margin-top: 4%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10%;
    border-radius: 86px;
    box-shadow: 7px 7px rgb(62 62 64 / 35%);
}
.Introduction-self-text{
    margin: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Welcome-text{
    font-size: 50px;
    letter-spacing: 3px;
}
.description-introductions{
    letter-spacing: 4px;
    font-size: 32px;
    margin-top: 0;
    opacity: 0.8;
}
.description-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.description-introduction{
    list-style: none;
    padding: 0px 20px 25px 0px;
    max-width: 300px;
    margin: 1%;
    font-size: 20px;
    text-align: center;
}





/* NOTICIAS */
.Notices-Carrousel{
    margin: 1%;
    width: fit-content;
    padding: 1%;
    border-radius: 2%;
    text-align: center;
    background-color: #8389d766;
    box-shadow: 14px 14px rgb(53 48 69 / 85%);
}
  .title-carrousel{
    font-size: 22px;
    font-weight: 900;
    margin-top: 0;
}
.container-PP-image{
    position: relative;
    width: fit-content;
}
.Principal-img{
    width: 939px;
    opacity: 0.6;
}
.Carrousel-Notice-Title{
    position: absolute;
    bottom: 50%;
    font-size: 34px;
    font-weight: 800;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 80%;
    color: white;
}
.Carrousel-Notice-Title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Carrousel-Notice-Resume{
    position: absolute;
    bottom: 10%;
    font-size: 30px;
    font-weight: 800;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 80%;
    color: white;
}
.Carrousel-Notice-Resume:hover{
    cursor: pointer;
    text-decoration: underline;
}
.MoveButton-Left{
    position: absolute;
    height: 508px;
    width: 92px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 48px;
    border: none;
    opacity: 0.4;
    transition: opacity 0.2s ease;
}
.MoveButton-Right{
    position: absolute;
    height: 508px;
    width: 92px;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 48px;
    border: none;
    opacity: 0.4;
    transition: opacity 0.2s ease;
}
.MoveButton-Left:hover{
    opacity:1 ;
    cursor: pointer;
}
.MoveButton-Right:hover{
    opacity:1 ;
    cursor: pointer;
}

.container-S-images{
    display: grid;
    grid-template-columns: repeat(4, 231px);
    gap: 5px;
    justify-content: center;
}
.container-S-image{
    overflow:hidden;
    position: relative;
    opacity: 0.75;
    transition: transform .1s;
    cursor: pointer;
}
.container-S-image:hover{
    transform: scale(1.2);
    z-index: 1;
    opacity: 1;
}
.Secondary-img{
    width: 300px;
}

.Carrousel-Secondary-Notice-Title{
    position: absolute;
    position: absolute;
    bottom: 8%;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 80%;
    color: white;
}
.Carrousel-Secondary-Notice-Title:hover{
    text-decoration: underline;
}



/* RECOMENDATIONS */
.Recomendations{
    background-color: #8389d766;
    text-align: center;
    margin: 1%;
    box-shadow: 14px 14px rgb(53 48 69 / 85%);
    padding: 1%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.buttons-AfterBeforeOptions{
    display: flex;
    margin-inline: 8%;
    margin-top: 10%;
    justify-content: space-between;
}
.SeeMore-Recomendations{
    background-color: #a983d7;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    font-family: fantasy;
    border-color: black;
    color: black;
    padding: 25px 66px 25px 66px;
    margin-bottom: 10px;
    box-shadow: 7px 10px rgb(53 48 69 / 85%);
}
.SeeMore-Recomendations:hover{
    mix-blend-mode: hard-light;
}
.flex-nd{
    align-self: flex-end;
}
.flex-str{
    align-self: flex-start;
}





/* MODELO RESPONSIVE */
@media screen and (max-width: 1030px) {
   .Notices-Carrousel{
        margin: 0;
        width: -webkit-fill-available;
        text-align: -webkit-center;
        box-shadow: 0px 0px;
   }
    .Principal-img{
        width: 441px !important;   
    }
    .container-S-images{
        grid-template-columns: repeat(2, 219px) !important;
        gap: 2px !important;
    }
    .MoveButton-Left{
        height: 238px;
        width: 54px;
    }
    .MoveButton-Right{
        height: 238px;
        width: 54px;
    }
    .Secondary-img{
        margin-left: -37%;
    }
    .Carrousel-Filmname{
        display: none;
    }
    .Recomendations{
        width: -webkit-fill-available;
        box-shadow: 0px 0px;
    }
    .buttons-AfterBeforeOptions{
        margin-inline: 1% !important;
    }
    .Carrousel-Notice-Resume{
        display: none;
    }
    .Carrousel-Notice-Title{
        top: 10%;
    }
  }
  @media screen and (max-width: 534px) {
    .buttons-AfterBeforeOptions {
        flex-wrap: wrap;
        justify-content: center!important;
    }
  }
 