.title {
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 22px 0px 22px 0px;
  }
  .film_list{
    padding: 40px 15px 40px 15px;
    margin: 0px 30px 50px 30px;
    border-style: solid; 
    border-radius: 40px;
    border-width: 6px;
    background-color: #8389d78f;
  }