.title {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  margin: 22px 0px 22px 0px;
}
.moviesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 330px);
  grid-gap: 100px;
  padding: 40px 15px 40px 15px;
  margin: 0px 30px 0px 30px;
  justify-content: center;
  border-style: solid;
  border-radius: 60px;
  border-width: 7px;
  background-color: #8389d78f;
}