.recomends-title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #212124bf;
    letter-spacing: 5px;
    margin-left: 4%;
}
.recommend-div{
    margin-bottom: 5%;
    margin-inline:4%;
    background-color: rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 2px 7px rgb(53 48 69 / 85%);
    padding: 16px;
    border-radius: 26px;
}
.title{
    text-align: center;
    color: #0000008a;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 22px 0px 22px 0px;
}
.Sections{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 30px;
    padding: 20px 0px 20px 0px;
    justify-content: center;
}
.section{
    list-style: none;
    background-color: #8389d7;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
    font-family: fantasy;
    border-color: black;
    color: black;
    box-shadow: 7px 10px rgb(53 48 69 / 85%);
}
.section:hover{mix-blend-mode: hard-light;}