.title{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}
.Sections{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 30px;
    padding: 20px 0px 20px 0px;
    justify-content: center;
}
.section{
    list-style: none;
    background-color: #8389d7;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
    font-family: fantasy;
    border-color: black;
    border-style: solid;
}
.section:hover{mix-blend-mode: hard-light;}