body {
  font-family: 'sans-serif,' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-top: 0px;
  margin-right: 2%;
  margin-bottom: 0px;
  margin-left: 2%;
  background-color:  #d5e1db;
}

code {
  font-family: 'Courier New',
    monospace;
}
